DB_HOST=your-aiven-host
DB_PORT=17345
DB_USER=your-aiven-user
DB_PASS=your-aiven-password
DB_NAME=your-aiven-database
DB_SYNC=false
DB_SSL=true
DB_SSL_CA_PATH=src/certs/ca.pem

JWT_ACCESS_SECRET=change_me_access
JWT_ACCESS_TTL=900
JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_TTL=2592000
JWT_RESET_SECRET=change_me_reset
JWT_RESET_TTL=900

MAIL_USER=example@email.com
MAIL_PASS=app_password
FRONTEND_URL=http://localhost:3000/

PANIC_SECRET=vertecx_kill_switch
PANIC_FOLDERS=src/config,src/certs,src/shared,src/database,src/app.module.ts,.env
PANIC_DEVICE_ID=LOCAL-DOCKER
